In [35]:
# Set

Creation of set
1. x = {value1, value2,.....}
2. x = set() : for empty set
3. x = set(iterable) : set with values

In [36]:
a = {5,8,3}
print(a)

{8, 3, 5}

In [37]:
b = {7,'ashish', 8, 9, 'riya'}
print(b)

{'ashish', 7, 8, 9, 'riya'}

In [38]:
# we cant contain List because it is mutable
c = {5,6,[4,9]}
print(c)

TypeError: unhashable type: 'list'

In [39]:
# we can contain tuple(immutable)
d = {'ashish', 8, 9, (4,7,9)}
print(d)

{8, 9, (4, 7, 9), 'ashish'}

In [40]:
# we cant have duplicate
e = {3,5,3,5,3,9} # it count only once, doesnt care how many times you have given same value, it will be printed only once
print(e)

{9, 3, 5}

In [41]:
#emplty set

In [42]:
x = {} #this would be dict
type(x)

dict

In [43]:
y = set()
type(y)

set

In [44]:
# takes iterable as argument
set1 = set([7,6,9])
print(set1)

{9, 6, 7}

Deletion
1. discard(value)
2. remove(value)
3. pop()
4. clear()

In [45]:
set2 = {3,5,8,6,2}

In [46]:
set2.discard(2)
print(set2)

{3, 5, 6, 8}

In [47]:
set2.remove(8)
print(set2)

{3, 5, 6}

In [48]:
g = set2.pop() # deletes any random position
print(g)
print(set2)

3
{5, 6}

In [49]:
set2.clear()
print(set2)

set()

Addition
1. add(value)
2. update([value1, value2,....])

In [50]:
set3 = {4,6,7,2}
print(set3)

{2, 4, 6, 7}

In [51]:
# using add  (for adding one value at a time)
set3.add(9)
print(set3)

{2, 4, 6, 7, 9}

In [52]:
# update(iterable..)  (for multiple values)
set3.update([11,54,8])
print(set3)

{2, 4, 6, 7, 8, 9, 11, 54}

In [53]:
# we can also pass multiple iterables
set3.update([33,77],{66,99,88}) #set is also iterable
print(set3)

{33, 2, 66, 4, 99, 6, 7, 8, 9, 11, 77, 54, 88}